header {
    background-color: #F55A5A;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header > img {
    height: 55%;
}

header > p {
    color: white;
    font-family: Inter;
    font-size: 35px;
}